 .nopad{padding:0px !important;}
        .storeLocatorHead{
        text-align: center;
        font-size: 24px;
        color: #b21f29;
        padding: 30px 0px;
        font-family: Proxima Nova Semibold;
        }
        .mapDiv{
        max-height:285px;
        }
        .OutermapDiv{
        background: #f1f1f1;
        padding: 1%;
        text-align: left;
        }
        .blockheading{
        color: #b21f29;
        font-size: 20px;
        font-family: Proxima Nova Semibold;
        margin: 0 0 10px;
        text-align: left;
        }
        li.storename{
        display: inline-block;
        list-style: outside none none;
        margin: 2% 2% 2% 0;
        vertical-align: top;
        width: 47%;
        }
        .store-address, .store-phone {
        font-size: 14px;
        color: #000;
        font-weight: 400;
        line-height: 24px;
        }
        .storeUl{
        padding:0px;
        }
        .viewLink{padding-top:10px;}
        .viewLink a{
        font-size: 14px;
        color: #b21f29 !important;
        font-weight: 400;
        }
        .contact-callouts {
        margin: 60px 0;
        }
        .contact-callouts ul {
        margin: 0;
        padding: 0;
        }
        .contact-callouts ul li:first-child {
        padding: 0 3% 0 0;
        border: none;
        }
        
        .contact-callouts ul li {
        list-style: none;
        margin: 0;
        padding: 0 0 0 6%;
        display: inline-block;
        vertical-align: top;
        width: 33%;
        border-left: solid 1px #e0e0e0;
        }
        .contact-callouts .write-us h2 {
        background: url(../images/write-us-icon.png) no-repeat left center;
        height: 48px;
        }
        
        .contact-callouts h2 {
        color: #b21f29;
        font-weight: 600;
        font-size: 16px;
        padding: 15px 0 0 68px;
        margin: 0 0 20px 0;
        }
        .contact-callouts h3 {
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        }
        .contact-callouts p {
        font-size: 14px;
        color: gray;
        font-weight: 400;
        margin: 0 0 10px 0;
        padding: 10px 0px 0px 0px;
        line-height: 24px;
        }
        .contact-callouts .call-us h2 {
        background: url(../images/call-us-icon.png) no-repeat left center;
        height: 48px;
        }
        .contact-callouts .email-us h2 {
        background: url(../images/email-us-icon.png) no-repeat left center;
        height: 48px;
        }